{# OPTIONS:

use as: {{event.name.text}} or {{event.url}}

"name": {#163 ▼
+"text": "Bioscoop 16 februari"
+"html": "Bioscoop 16 februari"
}
+"description": {#158 ▼
+"text": null
+"html": null
}
+"id": "21519216556"
+"url": "http://www.eventbrite.com/e/bioscoop-16-februari-tickets-21519216556"
+"start": {#151 ▶}
+"end": {#150 ▶}
+"created": "2016-02-11T12:57:21Z"
+"changed": "2016-02-11T12:57:24Z"
+"capacity": 20
+"status": "live"
+"currency": "EUR"
+"listed": false
+"shareable": true
+"invite_only": false
+"password": "woefwaf"
+"online_event": false
+"show_remaining": true
+"tx_time_limit": 480
+"hide_start_date": false
+"locale": "en_US"
+"is_locked": false
+"privacy_setting": "unlocked"
+"is_series": true
+"is_series_parent": true
+"logo_id": null
+"organizer_id": "9791562486"
+"venue_id": "13163670"
+"category_id": null
+"subcategory_id": null
+"format_id": null
+"resource_uri": "https://www.eventbriteapi.com/v3/events/21519216556/"
+"series_id": "21519216556"
+"logo": null

#}
<p> {{event.name.text}} - URL: {{event.url}} </p>
